# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
.next/
out/
.turbo/

# Env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo

# Test
coverage/
